<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner">
          <div class="hero-image">
            <img src="/Assets/images/marcus.jpg" alt="Marcus" />
          </div>
          <div class="hero-content">
            <h1 class="hero-title">Marcus</h1>

            <p class="hero-desc">I coding, travel and eat.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col col-12">
      <!-- <h1 class="hero-title">Marcus</h1> -->

      <h1 class="hero-title2">Hello, My name is Chui Kwok Yuk ( Marcus ).</h1>
      <h1 class="hero-title2">
        I am a Software Developer with two years working experience. I am taking
        Software Engineering Technology in Centennial College currently.
      </h1>
      <h1 class="hero-title2">
        My Resume >>>
        <a target="_blank" href="/Assets/resume.pdf">Click here to download</a>
      </h1>
    </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
