<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner">
          <div class="hero-image"></div>
          <div class="hero-content">
            <h1 class="hero-title">Welcome to my page.</h1>
            <p class="hero-desc">
              Hi there! This site is for sharing information about me.
            </p>
            <p class="hero-desc">I coding, travel and eat.</p>
            <a class="navbar-brand" href="/about">
              <button class="btn-about-me" type="submit" name="subscribe">
                About me
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
