<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner2">
          <div class="hero-image">
            <img src="/Assets/images/project1.png" alt="Marcus" />
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12">
      <h1 class="hero-title3">Project Type: Mobile APP</h1>
      <h1 class="hero-title3">
        Descriptions: This APP is for loading member information, redeem
        benefit.
      </h1>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner2">
          <div class="hero-image">
            <img src="/Assets/images/project2.png" alt="Marcus" />
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12">
      <h1 class="hero-title3">Project Type: Service Backend API</h1>
      <h1 class="hero-title3">
        Main tech stack: PostgreSQL(both RDBMS and NoSQL), RESTful API, Openapi,
        Redis, Load Balancer(Nginx).
      </h1>
      <h1 class="hero-title3">
        Descriptions: This is a server side backend service for mobile and web
        application to use.
      </h1>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner2">
          <div class="hero-image">
            <img src="/Assets/images/project3.png" alt="Marcus" />
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12">
      <h1 class="hero-title3">Project Type: Database</h1>

      <h1 class="hero-title3">
        Descriptions: This is a project about database design. There are about
        ten tables with relationships. Some stored procedures are also provided
        for users to use.
      </h1>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
