<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner">
          <div class="hero-image">
            <img src="/Assets/images/services.jpg" alt="Marcus" />
          </div>
        </div>
      </div>
    </div>
    <div class="col col-12">
      <p style="color: white; font-size: 8px">
        ©Copyright Erik Mclean. from: https://unsplash.com/photos/aielvGxZB0g
      </p>
    </div>

    <div class="col col-12">
      <!-- <h1 class="hero-title">Marcus</h1> -->

      <h1 class="hero-title2">
        I am currently a freelancer. I provide programming services.
      </h1>
      <br />
      <h1 class="hero-title2">Programming Language :</h1>
      <div>
        <img src="/Assets/images/icons8-c-sharp-logo-96.png" alt="C#" />
        <img src="/Assets/images/icons8-java-96.png" alt="JAVA" />
        <img src="/Assets/images/icons8-javascript-96.png" alt="JavaScript" />
      </div>
      <br />
      <h1 class="hero-title2">Database :</h1>
      <div>
        <img src="/Assets/images/icons8-postgresql-96.png" alt="PostgreSQL" />
      </div>
      <h1 class="hero-title2">Framework :</h1>
      <div>
        <img src="/Assets/images/icons8-nestjs-96.png" alt="Nestjs" />
        <img
          src="/Assets/images/icons8-react-native-96.png"
          alt="ReactNative"
        />
        <img src="/Assets/images/icons8-.net-framework-96.png" alt="DotNet" />
      </div>
      <!--  -->
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
